.layout-list {
  padding: 0;
  margin: 0;
}

.layout-item {
  padding: 0;
  list-style: none;
  width: 45%;
  display: inline-block;
  aspect-ratio: 3/2;
  margin: 0 5px 0 0;
}

.layout-button {
  border: 2px solid transparent;
  width: 100%;
  height: 100%;
}

.layout-button:hover,
.layout-button.active {
  border: 2px solid var(--primary-color);
}

.layout-button.layout-0 {
  background-image: url("../../images/layout_0.svg");
  background-size: cover;
}

.layout-button.layout-1 {
  background-image: url("../../images/layout_1.svg");
  background-size: cover;
}

.layout-button.layout-2 {
  background-image: url("../../images/layout_2.svg");
  background-size: cover;
}

.layout-button.layout-3 {
  background-image: url("../../images/layout_3.svg");
  background-size: cover;
}

.layout-button.layout-4 {
  background-image: url("../../images/layout_4.svg");
  background-size: cover;
}

.layout-button.layout-5 {
  background-image: url("../../images/layout_5.svg");
  background-size: cover;
}

.layout-button.layout-6 {
  background-image: url("../../images/layout_6.svg");
  background-size: cover;
}

.layout-button.layout-7 {
  background-image: url("../../images/layout_7.svg");
  background-size: cover;
}

.layout-button.layout-8 {
  background-image: url("../../images/layout_8.svg");
  background-size: cover;
}