.main-page {
  min-height: 100vh;
  box-sizing: border-box;
  text-align: center;
  background-size: cover;
  padding: 50px;
  background-image: url('../../images/album.jpg');
  display: flex;
  flex-direction: column;
}

.headline {
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle {
  margin: 50px 0;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.4);
  padding: 20px;
}

@media (max-width: 350px) {
  .button-link {
    font-size: 20px;
  }
}
