.button-link {
  background-color: var(--primary-color);
  color: black;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  font-size: 20px;
  padding: 10px 30px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
}

.button-link:hover {
  color: white;
}

@media (max-width: 350px) {
  .button-link {
    font-size: 20px;
  }
}
